<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Employee(read)</title>
</head>
<body>

<div class="container">
<div class="row">
<h4><a href="/">Home</a></h4>
</div>
    <div class="row">
        <div class="card">
        <h1>{{single_emp.name}}</h1>
        <h1>{{single_emp.age}}</h1>
        <h1>{{single_emp.description}}</h1>
        </div>
    </div>
</div>
    
</body>
</html>