{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Hoem</h1>
        <h1>CURDL</h1>
        <p>Create</p>
        <p>Update</p>
        <p>&#10003; Read</p>
        <p>&#10003; Delete</p>
        <p>&#10003; List</p>
        <table class="table table-info">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Show</th>
            <th scope="col">Delete</th>
          </tr>
          {% for e in emp %}
          <tr>
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.age}}</td>
            <td><a href="/emp/{{e.id}}">Click here</a></td>
            
            <td><a href="/emp/{{e.id}}/delete/"><img style="width:30px;height:30px" src="{% static 'delete.png' %}" alt="delete"></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
